In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('./../data/tic_tac_toe_dataset.csv')

In [3]:
data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [4]:
data.columns

Index(['top_left_square', 'top_middle_square', 'top_right_square',
       'middle_left_square', 'middle_middle_square', 'middle_right_square',
       'bottom_left_square', 'bottom_middle_square', 'bottom_right_square',
       'class'],
      dtype='object')

In [5]:
categorical = ['top_left_square', 'top_middle_square', 'top_right_square','middle_left_square', 'middle_middle_square', 'middle_right_square','bottom_left_square', 'bottom_middle_square', 'bottom_right_square']

In [6]:
X = data[categorical]

In [7]:
X.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,x,x,x,x,o,o,x,o,o
1,x,x,x,x,o,o,o,x,o
2,x,x,x,x,o,o,o,o,x
3,x,x,x,x,o,o,o,b,b
4,x,x,x,x,o,o,b,o,b

In [8]:
X_new = pd.get_dummies(X)

In [9]:
X_new.head()

,top_left_square_b,top_left_square_o,top_left_square_x,top_middle_square_b,top_middle_square_o,top_middle_square_x,top_right_square_b,top_right_square_o,top_right_square_x,middle_left_square_b,...,middle_right_square_x,bottom_left_square_b,bottom_left_square_o,bottom_left_square_x,bottom_middle_square_b,bottom_middle_square_o,bottom_middle_square_x,bottom_right_square_b,bottom_right_square_o,bottom_right_square_x
0,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,1,0
1,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
3,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,0
4,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
lb_make = LabelEncoder()
data["class"] = lb_make.fit_transform(data["class"])

In [12]:
data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,1
1,x,x,x,x,o,o,o,x,o,1
2,x,x,x,x,o,o,o,o,x,1
3,x,x,x,x,o,o,o,b,b,1
4,x,x,x,x,o,o,b,o,b,1

In [13]:
data.drop(categorical,inplace=True,axis=1)

In [14]:
data.head()

   class
0      1
1      1
2      1
3      1
4      1

In [ ]:
data.reset_index(drop = True, inplace= True)
X_new.reset_index(drop = True, inplace= True)

In [17]:
bigdata= bigdata = pd.concat([X_new, data], axis= 1)

In [18]:
bigdata.head()

,top_left_square_b,top_left_square_o,top_left_square_x,top_middle_square_b,top_middle_square_o,top_middle_square_x,top_right_square_b,top_right_square_o,top_right_square_x,middle_left_square_b,...,bottom_left_square_b,bottom_left_square_o,bottom_left_square_x,bottom_middle_square_b,bottom_middle_square_o,bottom_middle_square_x,bottom_right_square_b,bottom_right_square_o,bottom_right_square_x,class
0,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,1
1,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,1
2,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,1,1
3,0,0,1,0,0,1,0,0,1,0,...,0,1,0,1,0,0,1,0,0,1
4,0,0,1,0,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,1